.border-shadow {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)  !important;
    border-radius: 1px  !important;
}

.swal-title {
    margin: 0px;
    font-size: 16px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
    margin-bottom: 28px;
  }

  .sobre{
    margin-top: 55px !important;
}

  .card{
    margin-right: 15px;
    margin-left: 25px;
  }